<div class="container user-table">
    <!-- No data message -->
    <div class="alert alert-success text-center" role="alert" >
        No Users added yet!
    </div>
    <ul class="list-unstyled">
        <li class="media" *ngFor="let user of Users; let i = index">
       <!--  <img [src]="user.photos" class="mr-3" [alt]="user.name">-->
       <div  *ngFor="let i of user.photos;">
     
        <img src = "assets/uploads/{{i}}" width="20%" height="20%">
    </div>
    <div *ngFor="let video of user.photos;">
       <video preload="auto" crossorigin controls autoplay
   style="width: 190px;height: 100px;top: 0px;left:0px;z-index:1; position: absolute;">
  <source src="assets/uploads/{{video}}" >
</video>     
</div>{{user.user_name}}
     <td>
          <span class="status" (click)="User_status(User, i)">
            <button type="button" class="btn btn-info btn-sm">{{user.status}}</button>
          </span>
        </td>
            <div  class="media-body"><br>
                <br>
                <label>Related Content:-</label>
                <h5  class="mt-0 mb-1">{{user.name}}</h5>
            </div>
        </li>
    </ul>

</div>